<p>
    <a href="{% url 'blogs:index' %}">Blog</a> -
    <a href="{% url 'blogs:blogs' %}">Blogs</a> -
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log out</a>
        
    {% else %}
        <a href={% url 'users:register' %}>Register</a> -
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}